* {
    margin: 0;
    padding: 0;

}

.header-container {
    width: 1200px;
    margin: auto;
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 5px;
}

body {
    width: 1200px;
    background-color: rgb(227, 236, 243);
    margin: auto;
}

.logo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1 {
    color: blue;
}

.btn {
    font-size: 15px;
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
}

.header-content h1 {
    font-size: 40px;
}

.header-content h2 {
    font-size: 40px;
}

.header-content {
    margin-top: 60px;

    text-align: center;
}


.header-btn {
    padding: 20px;
    text-align: center;
    margin-bottom: 100px;
}


.main-container {
    padding: 10px;
    width: 1200px;
    margin: auto;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;


}


.inside-text h1 {
    font-size: 40px;
}

.inside-text p {
    font-size: 20px;
    margin-top: 10px;
}

.inside-text .btn {
    margin-top: 20px;
}

.inside-img img {
    width: 300px;
    border-radius: 50px;
}


.another-container {
    width: 1200px;
    margin-top: 20px;
    margin: auto;
    background-color: #4E47FF;
    border-radius: 20px;
}

.another-container h1 {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.text h2 {
    font-size: 40px;
    color: white;
}

.text p {
    font-size: 20px;
    color: white;
}

.another-text {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}


.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    box-sizing: border-box;

}




.card-flex {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.card-content h1 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #555;
}


.name {
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}

.name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.title h1 {
    text-align: center;
    margin-top: 10px;
}

.title p {
    text-align: center;
    margin-top: 10px;
}

.arekta-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.arekta-img img {
    margin-bottom: 20px;
    border-radius: 30px;
    height: auto;
}

.arekta-container{
    background-color: #fff;
    margin-top: 20px;
}


.footer-content{
    text-align: center;
}

.footer-content h1{
    font-size: 40px;
    color: blue;
    margin-bottom: 20px;

}

.footer-content p{
    font-size: 20px;
    color: blue;
    width: 800px;
    margin: auto;
    margin-bottom: 20px;

}

.fooer-container{
    margin-top: 20px;
    background-color: #fff;
    padding: 10px;
}

.items{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}


.titlex h1{
  font-size: 40px;
}


.contact-section {
  background-color: #f4f4f4;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  align-content: center;
}

.titlex h1 {
  font-size: 36px;
  color: #333;
 
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
 
}



.contact-form button {
  padding: 15px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  
}



